body {
    position: relative;
    min-height: 100vh;
}
header {
    height: 5rem;
}
.navbar-brand {
    font-size: 1.5rem;
}
header a {
    font-size: 1.1rem;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}
footer a {
    color: #fff;
}
.jumbotron {
    height: 300px;
    background-image: url(images/antique-cameras-black-white\ Resized\ &\ Compressed.jpg);
    background-position: center;
}
.card {
    min-height: 446px;
}

