<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orinoco</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Front End/style.css">
</head>

<body>
    <div class="bg-dark mb-5">
        <div class="container">
            <div class="row d-flex align-items-center">
                <nav class="col navbar navbar-expand-md navbar-dark">
                    <a class="navbar-brand mr-5 font-weight-bold" href="/Front End/index.html">
                        Orinoco Photo
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbarContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Front End/index.html">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="mailto:contact@orinoco.com">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <a class="btn btn-info position-relative" href="/Front End/views/cart.html" role="button">
                    <svg width="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shopping-basket"
                        class="svg-inline--fa fa-shopping-basket fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                            d="M576 216v16c0 13.255-10.745 24-24 24h-8l-26.113 182.788C514.509 462.435 494.257 480 470.37 480H105.63c-23.887 0-44.139-17.565-47.518-41.212L32 256h-8c-13.255 0-24-10.745-24-24v-16c0-13.255 10.745-24 24-24h67.341l106.78-146.821c10.395-14.292 30.407-17.453 44.701-7.058 14.293 10.395 17.453 30.408 7.058 44.701L170.477 192h235.046L326.12 82.821c-10.395-14.292-7.234-34.306 7.059-44.701 14.291-10.395 34.306-7.235 44.701 7.058L484.659 192H552c13.255 0 24 10.745 24 24zM312 392V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24zm112 0V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24zm-224 0V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24z">
                        </path>
                    </svg>
                    <span id="cartBadge" class=""></span>
                </a>
            </div>
        </div>
    </div>
    <main>
        <div class="container mb-5">
            <div id="emptyCartAlert"></div>
            <div class="row col-10 m-auto">
                <h3 class="col-12 mb-5">Votre panier</h3>
                <table id="cart" class="table col-12">
                    <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="cartRowsContainer">
                    </tbody>
                </table>
                <table class="table col-6 mt-5 h-50 mx-auto">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Montant total :</th>
                            <th id="totalPrice" scope="col"></th>
                        </tr>
                    </thead>
                </table>
                <button type="button" class="empty_cart__btn btn btn-primary mx-auto mt-5 mb-5 col-8">
                    Vider le panier
                </button>
            </div>
            <div class="row col-10 mx-auto">
                <h3 class="col-12 mt-5 mb-4">Vos coordonnées</h3>
                <form id="orderForm" class="row col-10 mx-auto">
                    <div class="col-6 mb-3">
                        <input id="firstName" required=required type="text" class="form-control" placeholder="Prénom">
                    </div>
                    <div class="col-6">
                        <input id="lastName" required=required type="text" class="form-control" placeholder="Nom">
                    </div>
                    <div class="col-12 mb-3">
                        <input id="address" required=required type="text" class="form-control" placeholder="Rue et n°">
                    </div>
                    <div class="col-6 mb-3">
                        <input required=required type="text" class="form-control" placeholder="Code postal">
                    </div>
                    <div class="col-md-6">
                        <input id="city" required=required type="text" class="form-control" placeholder="Ville">
                    </div>
                    <div class="col-12 mb-5">
                        <input id="email" required=required type="email" class="form-control" id="exampleInputEmail1"
                            placeholder="email">
                    </div>
                    <button id="OrderBtn" type="submit" class="btn btn-primary mb-5 mx-auto col-10">Commander</button>
                </form>
            </div>
        </div>
    </main>
    <footer class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col mt-4">
                    <ul class="list-inline text-center text-light">
                        <li class="list-inline-item"><a class="text-decoration-none text-light" href="#">À propos</a>
                        </li>
                        <li class="list-inline-item">&middot;</li>
                        <li class="list-inline-item"><a class="text-decoration-none text-light" href="#">Conditions
                                d'utilisations</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/Front End/js/cart.js"></script>
    <script src="/Front End/js/global.js"></script>
</body>

</html>